@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v8/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
}
.clock {
  margin: auto;
  padding: 6px;
  display: block;
}


.clock-digit {
  background-color: #222;
  color: #12C312;  
  display: inline-block;
  font-size: 30px;
  font-family: Orbitron;
}
.clock-digit:after {
  content: ':';
}
.clock-digit:last-child:after {
  content: '';
}